
.GradientButton{
	padding: 15px 25px;
	border-radius: 9999px;
	font-size: 1.1rem;
	background: white;/*linear-gradient(90deg, #03a9f4,#bdb300,#0f9677,#03a9f4)*/
	background-size: 800%;
	border:none;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	/*transition: transform 0.5s ease-in;*/
}



.GradientButton:hover{
	animation: animate 20s linear infinite;
		
}

@keyframes animate{
	0%{
		background-position: 0%;
		transform: scale(1);

	}

	10%{
		transform: scale(1.05);
	}

	20%
	{
		transform: scale(1);
	}

	30%{
		transform: scale(1.05);
	}



	40%{
		transform: scale(1);
	}

	50%{
		transform: scale(1.05);
	}
	60%{
		transform: scale(1);
	}

	70%{
		transform: scale(1.05);
	}

	80%{
		transform: scale(1);
	}
	90%{
		transform: scale(1.05);
	}
	100%{
		background-position: 200%;
		transform: scale(1);

	}
}

.GradientAnimation{

		padding: 15px 25px;
	
	font-size: 1.1rem;
	background: linear-gradient(90deg, #03a9f4,#bdb300,#0f9677,#03a9f4);
	background-size: 800%;
	border:none;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: white;
	/* cursor: pointer; */
	animation: card 40s linear infinite;


}


@keyframes card{

	0%{
		background-position: 0%;
	}

	100%{

		background-position: 800%;
	}
}

.GradientAnimationText{

	background: linear-gradient(90deg, #03a9f4,#bdb300,#0f9677,#03a9f4);
	background-size: 800%;	
	/* cursor: pointer; */
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	animation: Text 40s linear infinite;

}

/*h1 {
  font-size: 72px;
 
  -
}*/

@keyframes Text{

	0%{
		background-position: 0%;
	}

	
100%{

		background-position: 800%;
	}
}

/*.center{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}*/