html { 
 /* background: url(bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  height: 100%;
  overflow-y: hidden;
  font-family: 'Montserrat', sans-serif;
  background-color: #101010;
 
}

#heading{
	position: fixed;
	top:0;
	left: 0;
	width: 65%;
	height: auto;
	z-index: -1;
	opacity: 0.05;

}

#headermessage{
	position: fixed;
	top: 15%;
	left: 3%;
	color: white;
	z-index: 3;
	font-size: 2rem;
}

h1{
	color: white;
}
nav{
	position: absolute;
	background-color: #151515;
	height: 60px;
	width: 100%;
	/*box-shadow: 0px 6px 6px rgba(0,0,0,0.2);*/
	display: flex;
	justify-content: flex-end;
	align-items: center;
	z-index: 3;
}


.navItem{

	color: white;
	padding: 12% 2%;
	padding-left: 0%;
	cursor: pointer;
	

}


#hashCont{

	position: fixed;
	top: 48%;
	left: -15%;
	z-index:-1;
}

#semicolonCont{
	position: fixed;
	top: 48%;
	left: 35%;
	z-index:-1;
}

#hash{

	position: fixed;
	max-height: 55%;
	width: auto;
	z-index: -1;
}

#semicolon{
	position: fixed;
	max-height: 55%;
	width: auto;
	z-index:-1;
}

body{

	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	
}
.right{
	height: 100%;
	display: flex;
	justify-content: flex-end;
	margin: 0;
}
#card{
	background-color: #000;
	height: auto;
	width: auto;
	height: 100%;
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 4px 8px rgba(255,255,255,);
	z-index: 1;
	margin: 0;

}

.center{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	
	
}

.h100{
	height: 100%
}

.textbox{
	background-color: #fff;
	border: none;
	margin:10px;
	height: 40px;
	width: 70%;
	padding: 10px;
	padding-left: 20px;
	border-radius: 25px;
	z-index: 2;
}


#SignIn {
  min-width: 35%;
  margin-top: 10px; 
  text-align: center;
  text-decoration: none;
  /*box-shadow: 0px 4px 6px rgba(0,0,0,0.3);*/
  background-color: white;
  color: black;
  
}


#SignIn:hover{
	transform: scale(1.1);
}



::-webkit-input-placeholder {
	font-size: 1rem;
   font-style: italic;
   color: rgba(170,170,170,0.8);
}
:-moz-placeholder {
	font-size: 1rem;
   font-style: italic;  
   color: rgba(170,170,170,0.8);
}
::-moz-placeholder {
	font-size: 1rem;
   font-style: italic; 
   color: rgba(170,170,170,0.8);
}
:-ms-input-placeholder {  
	font-size: 1rem;
   font-style: italic; 
   color: rgba(170,170,170,0.8);
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
a{
	color: white;
	font-size: 0.8rem;
}