.chat-bottom {
	width: 100%;
	min-height: 55px;
	background-color: royalblue;
	border: 2px solid black;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.chat-message-input-box {
	width: 85%;
	height: 90%;
	resize: none;
	padding: 5px;
	font-size: 20px
}

.icon {
	color: white;
	height: 35px;
	cursor: pointer;
}

.emoji-picker {
	position: absolute;
	z-index: 1;
	bottom: 70px;
}